:root{
    /*We will use 3 shades of blue color*/

    --background-color: #DDE3EB;
    /*use var(--background-color); */

    --accent-color1: #0A2C5A;
    /*use var(--accent-color1); */

    --accent-color2: #6B90B5;
    /*use var(--accent-color2); */
}


html, body {
    /*font and background color for whole site*/
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.warning{
    /*sticky warning on top of website*/
    background-color: red;
    padding: 0;
    margin: 0;
    top: 0;
    position: sticky;
    border-color: black;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
}

.warning-text{
    /*warning text*/
    margin: 0px;
    padding: 5px 5px 5px 50px;
    font-size: smaller;
    color: white;
    font-weight: bolder;
}

.warning-text a{
    /*keep the link color white, even if clicked*/
    color: white;
}

.page-button {
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 5px;
    background-color: var(--accent-color2);
    color: white;
    border-radius: 10px;
}

.flex-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.flex-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: normal;
}

.flex-articles {
    display: flex;
    flex-direction:column;
}

.title { 
    grid-area: header;
    margin-left: 5%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbar {
    grid-area: search;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}


.searchinput {
    width: 70%;
}

.navbar {
    grid-area: navigation;
    background-color: var(--accent-color1);
    padding: 20px;
}

.main {
    grid-area: main;
    /*text-align: center;*/
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
}


.pagebottom {
    grid-area: footer;
}

.grid-homepage {
    min-height: 100%;
    display: grid;
    grid-template-areas: 
        'header search'
        'navigation navigation'
        'main main'
        'footer footer';
    grid-template-rows: auto auto 1fr auto;
}

.grid-item {
    text-align: center;
}

.grid-article {
    display: grid;
    grid-template-areas: 
        'arttitle arttitle date'
        'subtitle subtitle subtitle'
        'arttext arttext arttext'
        'tags tags author'
        'submitcomment submitcomment submitcomment'
        'comment comment comment';
}


.arttitle {
    grid-area: arttitle;
    padding-left: 50px;
}

.date {
    grid-area: date;
    text-align: right;
}

.subtitle {
    grid-area: subtitle;
}

.arttext {
    grid-area: arttext;
}

.tags {
    grid-area: tags;
}

.author {
    grid-area: author;
}

.submitcomment {
    grid-area: submitcomment;
}

.comment {
    grid-area: comment;
}

.grid-thumbnail {
    display: grid;
    grid-template-areas: 
        'thumbnail arttitle arttitle'
        'thumbnail artpreview artpreview';
    justify-content: start;
}


.arttitle {
    grid-area: arttitle;
    text-align: left;
    margin-left: 1%;
}

.artpreview {
    grid-area: artpreview;
    margin-left: 1%;
    text-align: left;
    font-size: large;
    padding-bottom: 20px;
}

.thumbnail {
    grid-area: thumbnail;
    width: 200px;
    height: auto;
}


footer {
    background-color: var(--accent-color1);
}

.btt {
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.bottommenu {
    margin: 25px 0 25px 0;
    padding: 0;
}

.bottommenu-item{
    display: inline;
    margin: 15px;
}

.bottommenu-item-link{
    color: white;
}

.copyright {
    margin: 25px;
    color: white;
}

li {
    color: white;
}

.about-us-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


img {
    max-width:100%;
}

figcaption{
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: small;
}

figure{
    margin: 0;
}


.arrow-up{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--accent-color2);
    opacity: 80%;
    width: 100px;
    border-radius: 20px 0px 0px 0px;
    margin: 0;
}


/*change margins for smaller screens*/
@media (min-width: 94em) {
    .flex-navigation {
        margin-left: 15%;
        margin-right: 15%;
    }
    .title {
        margin-left: 20%;
    }
    
    .searchbar {
        margin-right: 20%;
    }
    
    .page-button {
        width: 250px;
    }
}


/*following attributes are for mobile / small devices*/
@media (max-width: 60em) {
    .main {
        margin-left: 0;
        margin-right: 0;
    }
    
    .grid-thumbnail {
        grid-template-areas: 
        'thumbnail thumbnail'
        'arttitle arttitle'
        'artpreview artpreview';
    }

    .about-us-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     

    }

    .grid-article {
        display: grid;
        grid-template-areas:
            'date date date'
            'arttitle arttitle arttitle'
            'subtitle subtitle subtitle'
            'arttext arttext arttext'
            'tags tags author'
            'submitcomment submitcomment submitcomment'
            'comment comment comment';
    }

    .flex-bottom {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .bottommenu{
        margin: 10px 25px 0 25px;
    }

    .grid-homepage {
        min-height: 100%;
        display: grid;
        grid-template-areas: 
            'search search'
            'header header'
            'navigation navigation'
            'main main'
            'footer footer';
        grid-template-rows: auto auto 1fr auto;
    }

    .bottommenu-item{
        display: list-item;
        margin-left: 30px;
        margin-right: 30px;
    }

    .searchbar {
        grid-area: search;
        margin: 20px 30px 0px 30px;
    }

    .searchinput {
        width: 80%;
    }

    .arttitle {
        grid-area: arttitle;
        padding-left: 0px;
    }
}