/* dante.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.space-bg {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url('./static/space.jpeg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
#dante {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: auto;
    will-change: transform;
    pointer-events: none;
    user-select: none;
}
